<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item">Item 1</li>
                <li class="list-group-item">Item 2</li>
                <li class="list-group-item">Item 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top img-fluid" src="<%= campground.image %>">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title"><a href=""><%=campground.name%></a></h4>
                        <h4 class="justify-self-end">$$$/Year</h4>
                    </div>
                    <p class="card-text"><%=campground.description%></p>
                    <p class="card-text"><em>
                        Submitted by <%= campground.author.username %>
                    </em></p>
                    <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            
            <div class="card bg-light">
                <div class="card-header d-flex justify-content-end">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Leave a review</a>
                </div>
                <ul class="list-group list-group-flush">
                    <% campground.comments.forEach(comment => { %>

                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <strong><%= comment.author.username %></strong>
                            <span>Many days ago</span>
                        </div>
                        <div><%= comment.text %></div>
                        <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                        <form class="d-inline" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </li>
                    
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>





<% include ../partials/footer %>